        <div class="modal-header">
            <h3>Add Account</h3>
        </div>
        <div class="modal-body">
        
            <div class="nameSection">
                
                <label> Name </label>

                <input type="text" ng-model="newAccount.name" />
            </div>  
            <div class="accountSection">
                
                <label> Account # </label>
                <input type="text" ng-model="newAccount.id" />
            
            </div>
            <div class="cashSection">
                <label> Cash Value: </label>
                <input type="text" ng-model="newAccount.cashPosition.amount" />
            </div>
            <div class="positionSection">
                <label> Market Value: </label>
                <input type="text" ng-model="newAccount.marketValue.amount" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>